.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(154, 187, 206, 1);
    border-radius: 0.25em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked + label::before {
    border-color: #2196F3;
    background-image: url(shape.svg);
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #2196F3;
}

.checkbox:not(:disabled):active + label::before {
    background-color: #2196F3;
    border-color: #2196F3;
}

.checkbox:focus:not(:checked) + label::before {
    border-color: #2196F3;
}

.checkbox:disabled + label::before {
    background-color: #2196F3;
}

.checkbox__label {
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4a4a4a;
}
