.btn {
    background: #2196f3;
    border-radius: 5px;
}

.btn > .btn__name {
    display: inline-block;
    padding: 15px 20px;
}

.btn__name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
}

.btn:hover {
    background-color: #1f84d6;
}
