.card {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
}

.header__logo {
    max-height: 36px;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

